<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Spotify Clone</title>
</head>

<body>
    <main>
        <header>
            <img src="../public/img/logo.png" width="167" id="logo">
            <div id="container-options-user">
                <nav>
                    <ul>
                        <li><a href="http://">Premium</a></li>
                        <li><a href="http://">Ajuda</a></li>
                        <li><a href="http://">Baixar</a></li>
                    </ul>
                </nav>
                <div id="perfil">
                    <div id="circle-user">
                        <i class="	fas fa-user-alt icon-user"></i>
                    </div>
                    <p>Perfil</p>
                    <i class="fas fa-angle-down icon-angle-down"></i>
                </div>
            </div>
        </header>
        <section id="text">
            <P>É música que você quer?</P>
            Conheça os melhores lançamentos do momento.
            <div id="buttom">
                ABRIR O WEB PLAY
            </div>
        </section>
        <section id="grid">
            <div id="grid-01" class="Container-grid">

            </div>
            <div id="grid-02" class="Container-grid">

            </div>
            <div id="grid-03" class="Container-grid">

            </div>
            <div id="grid-04" class="Container-grid">

            </div>
            <div id="grid-05" class="Container-grid">

            </div>
            <div id="grid-06" class="Container-grid">

            </div>
        </section>
        <div id="icon-down">
            <i class="fas fa-angle-down"></i>
        </div>
    </main>
    <section id="information">
        <p id="text-home">
            Aproveite ao máximo o Spotify
        </p>
        <div id="text-secund">
            <div class="box">
                <p id="home-text">Gerencie sua conta</p>
                <p id="secund-text">Edite seu perfil, altere sua senha e atualize suas informações de pagamento.</p>
                <p><a id="link-gerconta" href="">GERENCIAR CONTA</a></p>
            </div>
            <div class="box">
                <p id="home-text">Baixe nosso aplicativo gratuito</p>
                <p id="secund-text">Escute facilmente as músicas que você adora. Baixe o aplicativo do Spotify no seu
                    computador.</p>
                <p><a id="link-gerconta" href="">BAIXAR O APLICATIVO PARA DESKTOP</a></p>
            </div>
            <div class="box">
                <p id="home-text">Ouça na web</p>
                <p id="secund-text">Para ouvir e compartilhar música sem baixar o aplicativo, basta acessar
                    play.spotify.com no seu navegador.</p>
                <p><a id="link-gerconta" href="">ABRIR O WEB PLAY</a></p>
            </div>
        </div>
    </section>
    <footer>
        <section id="footer1">
            <img src="../public/img/logo.png">
            <div id="empresa-option">
                <P id="destac">EMPRESA</P>
                <p>Sobre</p>
                <p>Empregos</p>
                <p>For the Record</p>
            </div>
            <div id="empresa-option">
                <P id="destac">COMUNIDADES</P>
                <p>Para Artistas</p>
                <p>Desenvolvedores</p>
                <p>Marcas</p>
                <p>Investidores</p>
                <p>Fornecedores</p>
            </div>
            <div id="empresa-option">
                <P id="destac">LINKS ÚTEIS</P>
                <p>Ajuda</p>
                <p>Player da Web</p>
                <p>Aplicativo móvel grátis</p>
            </div>
            <div id="socia">
                <div class="social-icons" id="instagram">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="social-icons" id="twitter">
                    <i class="	fab fa-twitter"></i>
                </div>
                <div class="social-icons" id="twitter">
                    <i class="fab fa-facebook-f"></i>
                </div>
            </div>
        </section>
        <section id="footer2">
            <p>Legal</p>
            <p>Central de Privacidade</p>
            <p>Politica de Privacidade</p>
            <p>Cookies</p>
            <p>Sobre Anuncios</p>
            <div id="copriter">
                <div id="b">
                    <p>Brasil</p>
                    <img src="../public/img/brasil.png" width="27px">
                </div>
                <p> © 2020 Spotify AB</p>
            </div>
        </section>

    </footer>
</body>

</html>